    #style{
        text-align: center;
        display: inline-block;
        width:3.6cm;
        margin: 10px;
    }

    #column{
        width: max-content;
        margin:5px;
    }

    input{
        margin:10px;
        width: 3.5cm;
        height: 0.7cm;
        font-size: 0.4cm;
        text-align: center;
        text-transform: capitalize;
    }

    button{
        width: 1.5cm;
        height: 0.8cm;
        font-size: 0.4cm;
        border-radius: 5px;
    }

    button:hover{
        background-color: aqua;
        color: blue;
        font-weight: bold;
        box-shadow: 0 0 2px;
        cursor: pointer;
    }
