<html>
    <head>
        
    </head>
    <body>
<%- include('partials/header') %>
    <!-- <div class="container">
	
        <div class="table">
            <div class="table-header">
                <div class="header__item"><a id="box_no" class="filter__link" href="#">Box No</a></div>
                <div class="header__item"><a id="owner_name" class="filter__link filter__link--number" href="#">Owner</a></div>
            </div>
            <div class="table-content">
                {{#each data}}			
                <div class="table-row">       
                    <p><div class="table-data">{{this.box_no}}</div></p>
                    <p><div class="table-data">{{this.box_owner.firstname}}</div></p>
                 
                </div>
                {{/each}}
            </div>
        </div>
    </div> -->
    </body>
</html>






